#home-splash {
  background-image: url("../../Images/home-background.png");
  width: 100vw;
  height: 60vw;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.splash-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#splash-content-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#group-image {
  width: 300px;
  height: 240px;
  background-color: rgba(0,0,0,0);
}
