#events-groups {
  display: flex;
  flex-direction: column;
}

#groups-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groups {
  border-top: 1px lightgrey solid;
  display: flex;
  width: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.group-pics {
  border-radius: .3rem;
  width: 178px;
  height: 100px;
}
.group-pic-container {
  background-color: lightgrey;
  border-radius: .3rem;
  display: flex;
  align-self: flex-start;
  margin-top: 20px;
}

.group-content-container {
  flex-wrap: wrap;
  width: 400px;
}

#group-event-navigation-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
}
