#signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: black;
  border-radius: 15px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signupbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: tomato;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

#signupbutton:hover {
  background-color: rgb(251, 117, 94);
}

label {
  font-weight: 600;
  margin-top: 20px;
}

input {
  width: 355px;
  height: 35px;
  margin-top: 7px;
  border-radius: 6px;
  border: 1px lightgray solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:hover {
  border: 1px darkgreen solid;
}

#loginModal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: darkgreen;
}

#signupH1 {
  margin-bottom: 10px;
}
