.hidden {
  display: none;
}

li {
  display: flex;
  list-style: none;
  flex-direction: column;
}

#profileButton {
  margin-right: 40px;
  border-radius: 1rem;
  border: none;
  background-color: gray;
  font-weight: bold;
  height: 25px;
  width: 25px;
}

ul {
  display: flex;
  justify-content: space-between;
}
